@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

header {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  height: 500px;
  width: 1100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
}

img {
  height: 100%;
}

#header-title{
 font-size: 40px;
 position: absolute;
 bottom: 0px;
 left: 150px;
 text-transform: none;
}

strong {
  font-size: 80px;
}


main {
  line-height: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 15px;
  margin-left: 150px;
}
section {
   width: 800px;
   margin: 50px 0px;
}

#first-section{
  font-size: 20px;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  line-height: 55px;
  color: white;
  background: #333333;
  text-align: justify;
  width: 900px;
  padding: 30px 60px;
  margin-left: -100px;
  position: relative;   
}

blockquote::before {
  content: '“';
  position: absolute;
  left: 0px;
  top: 20px;
  Font-size: 120px;
}

h1{
  text-transform: uppercase;
}
h2{
  line-height: 35px;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  margin-top: -15px;
}

#last-section{
  border-top: 3px solid black;
  padding-top: 30px;
}